<div id="milestone" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">

        <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/milestones'">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <!-- <div class="milestone-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                  <img *ngIf="milestone.images[0]" [src]="milestone.images[0].url">
                  <img *ngIf="!milestone.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
              </div> -->

        <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2" *ngIf="pageType ==='edit'">
            {{milestone.title}}
          </div>
          <div class="h2" *ngIf="pageType ==='new'">
            New Milestone
          </div>
          <div class="subtitle secondary-text">
            <span>Milestone Detail</span>
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT -->
      <div class="content">

        <form name="milestoneForm" [formGroup]="milestoneForm" class="milestone w-100-p" fxLayout="column" fxFlex>

          <div class=" mat-tab-header header  p-24">
            <h2 class="m-0">Milestone Information</h2>
          </div>

          <div class="tab-content p-24" fusePerfectScrollbar>


            <!-- <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field  appearance="outline" floatLabel="always" fxFlex="100">
                  <mat-select placeholder="Select Project" formControlName="project" name="project"
                  [compareWith]="compareFn" >
                      <mat-option>-- Select Project --</mat-option>
                      <mat-option *ngFor="let project of projects"  [value]="project" >
                          {{project.name}}
                      </mat-option>
                  </mat-select>
                </mat-form-field>
              </div> -->


            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field appearance="outline"  fxFlex="100">
                <mat-label>Name</mat-label>
                <input matInput minlength="3" maxlength="100" placeholder="First Name" name="name" formControlName="name"
                  required>
                <mat-error>Length must be 3-100!</mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field appearance="outline"  fxFlex="100">
              <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker1" placeholder="Choose Start Date"  name="milestoneStartDate" formControlName="milestoneStartDate">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field appearance="outline"  fxFlex="100">
              <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker2" placeholder="Choose Delievery Date"  name="milestoneDelieveryDate" formControlName="milestoneDelieveryDate">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            </div>


            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field appearance="outline"  fxFlex="100">
              <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker3" placeholder="Choose Development Date"  name="milestoneDevelopmentDate" formControlName="milestoneDevelopmentDate">
              <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
              <mat-datepicker #picker3></mat-datepicker>
            </mat-form-field>
            </div>



            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field appearance="outline"  fxFlex="100">
                <mat-label>Expected Payment</mat-label>
                <input matInput minlength="3" maxlength="100" placeholder="Milestone Expected Payment" name="milestoneExpectedPayment" formControlName="milestoneExpectedPayment"
                  required>
                <mat-error>Length must be 3-100!</mat-error>
              </mat-form-field>
            </div>


            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field appearance="outline"  fxFlex="100">
                <mat-label>Payment Amount</mat-label>
                <input matInput minlength="3" maxlength="100" placeholder="Milestone Payment Amount" name="milestonePaymentAmount" formControlName="milestonePaymentAmount"
                  required>
                <mat-error>Length must be 3-100!</mat-error>
              </mat-form-field>
            </div>


            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field appearance="outline"  fxFlex="100">
                <mat-label> Cost</mat-label>
                <input matInput  minlength="3" maxlength="100" placeholder="Milestone Cost" name="milestoneCost" formControlName="milestoneCost"
                  required>
                <mat-error>Length must be 3-100!</mat-error>
              </mat-form-field>
            </div>


            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field appearance="outline"  fxFlex="100">
                <mat-label>Milestone Payment Method</mat-label>
                <input matInput minlength="3" maxlength="100" placeholder="Milestone Payment Method" name="milestonePaymentMethod" formControlName="milestonePaymentMethod"
                  required>
                <mat-error>Length must be 3-100!</mat-error>
              </mat-form-field>
            </div>

            <button mat-raised-button class="save-milestone-button" [disabled]="milestoneForm.invalid" *ngIf="pageType ==='new'"
              (click)="addMilestone()">
              <span>ADD</span>
            </button>

            <button mat-raised-button class="save-milestone-button" [disabled]="milestoneForm.invalid || milestoneForm.pristine"
              *ngIf="pageType ==='edit'" (click)="saveMilestone()">
              <span>SAVE</span>
            </button>

          </div>



        </form>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>