<div id="resources" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

      <!-- HEADER -->
      <div class="header accent" fxLayout="column" fxLayoutAlign="center center" fxLayout.gt-sm="row"
          fxLayoutAlign.gt-sm="space-between center">

          <!-- APP TITLE -->
          <div class="logo mb-24 mb-md-0" fxLayout="row" fxLayoutAlign="start center">

              <span class="logo-text h1" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
                  Resources
              </span>
          </div>
          <!-- / APP TITLE -->

          <!-- SEARCH -->
          <div class="search-wrapper mx-32 mx-md-0">
              <div class="search" fxFlex fxLayout="row" fxLayoutAlign="start center">
                  <mat-icon>search</mat-icon>
                  <input #filter placeholder="Search for a resources">
              </div>
          </div>
          <!-- / SEARCH -->

          <!-- ADD BUTTON -->
          <button mat-raised-button [routerLink]="'/resources/new'" class="add-product-button fuse-white mt-24 mt-md-0">
              <span>ADD NEW</span>
          </button>
          <!-- / ADD BUTTON -->

      </div>
      <!-- / HEADER -->

      <!-- CONTENT CARD -->
      <div class="content-card">

          <mat-table class="resources-table" #table [dataSource]="dataSource" matSort [@animateStagger]="{value:'50'}"
              fusePerfectScrollbar>

              <!-- Name Column -->
              <ng-container matColumnDef="resourceName">
                  <mat-header-cell *matHeaderCellDef mat-sort-header> Name</mat-header-cell>
                  <mat-cell *matCellDef="let resource">
                      <p class="text-truncate">{{resource.resourceName}}</p>
                  </mat-cell>
              </ng-container>
          <!-- Name Column -->
          <ng-container matColumnDef="resourceCNIC">
            <mat-header-cell *matHeaderCellDef mat-sort-header>CNIC</mat-header-cell>
            <mat-cell *matCellDef="let resource">
                <p class="text-truncate">{{resource.resourceCNIC}}</p>
            </mat-cell>
        </ng-container>
                  <!-- Name Column -->
                  <ng-container matColumnDef="resourceEmail">
                    <mat-header-cell *matHeaderCellDef mat-sort-header>Email</mat-header-cell>
                    <mat-cell *matCellDef="let resource">
                        <p class="text-truncate">{{resource.resourceEmail}}</p>
                    </mat-cell>
                </ng-container>

                     <!-- Name Column -->
                     <ng-container matColumnDef="resourceWorkingDays">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Working Days</mat-header-cell>
                        <mat-cell *matCellDef="let resource">
                            <p class="text-truncate">{{resource.resourceWorkingDays}}</p>
                        </mat-cell>
                    </ng-container>
                          <!-- Name Column -->
              <ng-container matColumnDef="resourcePhone">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Phone Number</mat-header-cell>
                <mat-cell *matCellDef="let resource">
                    <p class="text-truncate">{{resource.resourcePhone}}</p>
                </mat-cell>
            </ng-container>

                      <!-- Name Column -->
                      <ng-container matColumnDef="resourceNationality">
                        <mat-header-cell *matHeaderCellDef mat-sort-header></mat-header-cell>
                        <mat-cell *matCellDef="let resource">
                            <p class="text-truncate">{{resource.resourceNationality}}</p>
                        </mat-cell>
                    </ng-container>
                              <!-- Name Column -->
              <ng-container matColumnDef="resourceEmergencyContactNo">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Emergency ContactNo</mat-header-cell>
                <mat-cell *matCellDef="let resource">
                    <p class="text-truncate">{{resource.resourceEmergencyContactNo}}</p>
                </mat-cell>
            </ng-container>
                      <!-- Name Column -->
                      <ng-container matColumnDef="resourceDesignation">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Designation</mat-header-cell>
                        <mat-cell *matCellDef="let resource">
                            <p class="text-truncate">{{resource.resourceDesignation}}</p>
                        </mat-cell>
                    </ng-container>
                              <!-- Name Column -->
              <ng-container matColumnDef="resourcePerHourRate">
                <mat-header-cell *matHeaderCellDef mat-sort-header>Salary/hour/mat-header-cell>
                <mat-cell *matCellDef="let resource">
                    <p class="text-truncate">{{resource.resourcePerHourRate}}</p>
                </mat-cell>
            </ng-container>
                      <!-- Name Column -->
                      <ng-container matColumnDef="resourceBenefits">
                        <mat-header-cell *matHeaderCellDef mat-sort-header>Benefits</mat-header-cell>
                        <mat-cell *matCellDef="let resource">
                            <p class="text-truncate">{{resource.resourceBenefits}}</p>
                        </mat-cell>
                    </ng-container>

             

              

              <!-- Active Column -->
              <ng-container matColumnDef="active">
                  <mat-header-cell *matHeaderCellDef mat-sort-header fxHide fxShow.gt-xs>Action</mat-header-cell>

                  <mat-cell *matCellDef="let resource" fxHide fxShow.gt-xs>

                      <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More" (click)="$event.stopPropagation();">
                          <mat-icon class="secondary-text">more_vert</mat-icon>
                      </button>

                      <mat-menu #moreMenu="matMenu">
                          <button mat-menu-item aria-label="edit" [routerLink]="'/resources/'+resource.id+'/'+resource.handle" >
                              <mat-icon>edit</mat-icon>
                              <span>Edit</span>
                          </button>
                         
                          <button mat-menu-item aria-label="remove" (click)="deleteResource(resource)">
                              <mat-icon>delete</mat-icon>
                              <span>Remove</span>
                          </button>
                      </mat-menu>
                  </mat-cell>
              </ng-container>

              <mat-header-row *matHeaderRowDef="displayedColumns; sticky:true"></mat-header-row>

              <mat-row *matRowDef="let resource; columns: displayedColumns;" class="product" matRipple>
              </mat-row>

          </mat-table>

          <mat-paginator #paginator [length]="dataSource.filteredData.length" [pageIndex]="0" [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
          </mat-paginator>

      </div>
      <!-- / CONTENT CARD -->
  </div>
  <!-- / CENTER -->
</div>