<div id="resource" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">

        <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/resources'">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <!-- <div class="resource-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                  <img *ngIf="resource.images[0]" [src]="resource.images[0].url">
                  <img *ngIf="!resource.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
              </div> -->

        <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2" *ngIf="pageType ==='edit'">
            {{resource.name}}
          </div>
          <div class="h2" *ngIf="pageType ==='new'">
            New Resource
          </div>
          <div class="subtitle secondary-text">
            <span>Resource Detail</span>
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT -->
      <div class="content">

        <form name="resourceForm" [formGroup]="resourceForm" class="resource w-100-p" fxLayout="column" fxFlex novalidate>

          <div class=" mat-tab-header header  p-24">
            <h2 class="m-0">Resource Information</h2>
          </div>

          <div class="tab-content p-24" fusePerfectScrollbar>


            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field appearance="outline"  fxFlex="100">
                <mat-label>Resource Name</mat-label>
                <input matInput placeholder="First Name" name="name" formControlName="name"
                  >
                <mat-error>Name must be valid!</mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field  appearance="outline" floatLabel="always" fxFlex="100">
                  <mat-select placeholder="Department" formControlName="resourceDepartment" name="resourceDepartment"
                  [compareWith]="compareFn" >
                      <mat-option>-- Select Department --</mat-option>
                      <mat-option *ngFor="let department of resourceDepartments"  [value]="department" >
                          {{department.name}}
                      </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field appearance="outline"  fxFlex="100">
                <mat-label>Email</mat-label>
                <input matInput placeholder="Email Address" name="resourceEmail" formControlName="resourceEmail"
                  >
                <mat-error>Email must be valid!</mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field appearance="outline"  fxFlex="100">
                <mat-label>Phone Number</mat-label>
                <input matInput type="number"  placeholder="Phone Number" name="resourcePhone" formControlName="resourcePhone"
                  >
                <mat-error>Phone number must be valid!</mat-error>
              </mat-form-field>
            </div>


            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field  appearance="outline" floatLabel="always" fxFlex="100">
                  <mat-select placeholder="Reporting To" formControlName="resourceReportingTo" name="resourceReportingTo"
                  [compareWith]="compareFn" >
                      <mat-option>-- Select Resource Reporter --</mat-option>
                      <mat-option *ngFor="let resource of resourceReporters"  [value]="resource" >
                          {{resource?.name}}
                      </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
                <mat-form-field  appearance="outline" floatLabel="always" fxFlex="100">
             
                <mat-select placeholder="Toppings"  [formControl]="toppings" multiple>
                  <mat-select-trigger>
                    {{toppings.value ? toppings.value[0].name : ''}}
                    <span *ngIf="toppings.value?.length > 1" class="example-additional-selection">
                      (+{{toppings.value.length - 1}} {{toppings.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let item of resourceSkills" [value]="item">{{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              </div>
              <!-- <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
                <mat-form-field  appearance="outline" floatLabel="always" fxFlex="100">
                    <mat-select placeholder="Skill" formControlName="resourceSkill" name="resourceSkill"
                    [compareWith]="compareFn" multiple>
                        <mat-option>-- Select Skill --</mat-option>
                        <mat-option *ngFor="let skill of resourceSkills"  [value]="skill" multiple>
                            {{skill.skillName}}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
                </div> -->

            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field appearance="outline"  fxFlex="100">
                <mat-label>Salary/hour</mat-label>
                <input matInput type="number" placeholder="Salary/hour" name="resourcePerHourRate" formControlName="resourcePerHourRate"
                  >
                <mat-error>Salary must be in numbers!</mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field appearance="outline"  fxFlex="100">
                <mat-label>Benefits</mat-label>
                <input matInput type="number"  placeholder="Benefits" name="resourceBenefits" formControlName="resourceBenefits"
                  >
                <mat-error>Length must be 3-100!</mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field appearance="outline"  fxFlex="100">
                <mat-label>Working Days</mat-label>
                <input matInput type= "number"  placeholder="Working-Days" name="resourceWorkingDays" formControlName="resourceWorkingDays"
                  >
                <mat-error>Days must be in numbers!</mat-error>
              </mat-form-field>
            </div>


            <button mat-raised-button class="save-resource-button" [disabled]="resourceForm.invalid" *ngIf="pageType ==='new'"
              (click)="addResource()">
              <span>ADD</span>
            </button>

            <button mat-raised-button class="save-resource-button" [disabled]="resourceForm.invalid || resourceForm.pristine"
              *ngIf="pageType ==='edit'" (click)="saveResource()">
              <span>SAVE</span>
            </button>

          </div>



        </form>

      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>