<div id="client" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">

        <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/clients'">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <!-- <div class="client-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                  <img *ngIf="client.images[0]" [src]="client.images[0].url">
                  <img *ngIf="!client.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
              </div> -->

        <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2" *ngIf="pageType ==='edit'">
            {{client.clientName}}
          </div>
          <div class="h2" *ngIf="pageType ==='new'">
            New Client
          </div>
          <div class="subtitle secondary-text">
            <span>Client Detail</span>
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT -->
      <div class="content">

        <form name="clientForm" [formGroup]="clientForm" class="client w-100-p" fxLayout="column" fxFlex>

          <div class=" mat-tab-header header  p-24">
            <h2 class="m-0">Client Information</h2>
          </div>


          <div class="tab-content p-24" fusePerfectScrollbar>


            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field appearance="outline"  fxFlex="100">
                <mat-label>Client Name</mat-label>
                <input matInput placeholder="First Name" name="clientName" formControlName="clientName"
                  required>
                <mat-error>Client Name is required!</mat-error>
              </mat-form-field>
            </div>


            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field appearance="outline"  fxFlex="100">
                <mat-label>Client Phone-Number</mat-label>
                <input matInput placeholder="Phone Number" name="clientPhoneNumber" formControlName="clientPhoneNumber"
                  required>
                <mat-error>Phone Number is required!</mat-error>
              </mat-form-field>
            </div>
     


            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field appearance="outline"  fxFlex="100">
                <mat-label>Email Address</mat-label>
                <input matInput placeholder="Email Address" name="clientEmail" formControlName="clientEmail"
                  required>
                <mat-error>Email Address is required!</mat-error>
              </mat-form-field>
            </div>



            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field appearance="outline"  fxFlex="100">
                <mat-label>Location</mat-label>
                <input matInput placeholder="Location" name="clientLocation" formControlName="clientLocation"
                  required>
                <mat-error>Client Location is required!</mat-error>
              </mat-form-field>
            </div>


            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
                <mat-form-field  appearance="outline" floatLabel="always" fxFlex="100">
                    <mat-select placeholder="Company" formControlName="parent" name="parent.clientName"
                    [compareWith]="compareFn" >
                        <mat-option>-- Select Company --</mat-option>
                        <mat-option *ngFor="let client of clients"  [value]="client" >
                            {{client?.clientName}}
                        </mat-option>
                    </mat-select>
                  </mat-form-field>
            

            </div>

            <button mat-raised-button class="save-client-button" [disabled]="clientForm.invalid" *ngIf="pageType ==='new'"
              (click)="addClient()">
              <span>ADD</span>
            </button>

            <button mat-raised-button class="save-client-button" [disabled]="clientForm.invalid || clientForm.pristine"
              *ngIf="pageType ==='edit'" (click)="saveClient()">
              <span>SAVE</span>
            </button>

          </div>
       

        </form>


      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>