<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <!-- <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <img [src]="milestone.avatar" class="avatar milestone-avatar huge m-0"
                 [alt]="milestone.name"/>
            <div class="milestone-name mt-8">{{milestone.name}} {{milestone.lastName}}</div>
        </mat-toolbar-row> -->
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form  name="milestoneForm" [formGroup]="milestoneForm">
          
            <div  >
                <mat-form-field >
    
                  <input matInput type="text"  name="id" formControlName="id"
                     >
                 
                </mat-form-field>
              </div>



            <div fxLayout="row" fxLayoutAlign="start start" >
                <mat-form-field appearance="outline"  fxFlex>
                  <mat-label>Milestone Name</mat-label>
                  <input matInput type="text" pattern="[a-zA-Z ]*" minlength="3" maxlength="100" placeholder="MilestoneName" name="name" formControlName="name"
                     required>
                 <mat-error>Milestone Name must have a valid input!</mat-error>
                 
                </mat-form-field>
              </div>


            <div fxLayout="row" fxLayoutAlign="start start" >
                <mat-form-field appearance="outline"  fxFlex >
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker1" placeholder="Choose Start Date"  name="milestoneStartDate" formControlName="milestoneStartDate">
                <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                <mat-datepicker #picker1></mat-datepicker>
              </mat-form-field>
              </div>
  
              <div fxLayout="row" fxLayoutAlign="start start" >
                <mat-form-field appearance="outline"  fxFlex >
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker2" placeholder="Choose Delievery Date"  name="milestoneDelieveryDate" formControlName="milestoneDelieveryDate">
                <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                <mat-datepicker #picker2></mat-datepicker>
              </mat-form-field>
              </div>
  
  
              <div fxLayout="row" fxLayoutAlign="start start" >
                <mat-form-field appearance="outline"  fxFlex >
                <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker3" placeholder="Choose Development Date"  name="milestoneDevelopmentDate" formControlName="milestoneDevelopmentDate">
                <mat-datepicker-toggle matSuffix [for]="picker3"></mat-datepicker-toggle>
                <mat-datepicker #picker3></mat-datepicker>
              </mat-form-field>
              </div>
  
  
  
              <div fxLayout="row" fxLayoutAlign="start start" >
                <mat-form-field appearance="outline"  fxFlex >
                  <mat-label>Expected Payment</mat-label>
                  <input matInput minlength="3" maxlength="100" placeholder="Milestone Expected Payment" name="milestoneExpectedPayment" formControlName="milestoneExpectedPayment"
                    required>
                  <mat-error>Length must be 3-100!</mat-error>
                </mat-form-field>
              </div>
  
  
              <div fxLayout="row" fxLayoutAlign="start start" >
                <mat-form-field appearance="outline"  fxFlex >
                  <mat-label>Payment Amount</mat-label>
                  <input matInput minlength="3" maxlength="100" placeholder="Milestone Payment Amount" name="milestonePaymentAmount" formControlName="milestonePaymentAmount"
                    required>
                  <mat-error>Length must be 3-100!</mat-error>
                </mat-form-field>
              </div>
  
  
              <div fxLayout="row" fxLayoutAlign="start start"  >
                <mat-form-field appearance="outline"  fxFlex>
                  <mat-label> Cost</mat-label>
                  <input matInput  minlength="3" maxlength="100" placeholder="Milestone Cost" name="milestoneCost" formControlName="milestoneCost"
                    required>
                  <mat-error>Length must be 3-100!</mat-error>
                </mat-form-field>
              </div>
  
  
              <div fxLayout="row" fxLayoutAlign="start start">
                <mat-form-field appearance="outline"  fxFlex >
                  <mat-label>Milestone Payment Method</mat-label>
                  <input matInput minlength="3" maxlength="100" placeholder="Milestone Payment Method" name="milestonePaymentMethod" formControlName="milestonePaymentMethod"
                    required>
                  <mat-error>Length must be 3-100!</mat-error>
                </mat-form-field>
              </div>
  

        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'"
                mat-button
                class="mr-8"
                (click)="matDialogRef.close(['delete',milestoneForm])"
                aria-label="Delete"
                matTooltip="Delete">
            DELETE
        </button>

        <button *ngIf="action !== 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(milestoneForm)"
                [disabled]="milestoneForm.invalid"
                aria-label="SAVE">
            ADD
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(['save',milestoneForm])"
                [disabled]="milestoneForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>
