<div class="dialog-content-wrapper">
    <mat-toolbar matDialogTitle class="mat-accent m-0">
        <mat-toolbar-row fxLayout="row" fxLayoutAlign="space-between center">
            <span class="title dialog-title">{{dialogTitle}}</span>
            <button mat-icon-button (click)="matDialogRef.close()" aria-label="Close dialog">
                <mat-icon>close</mat-icon>
            </button>
        </mat-toolbar-row>

        <!-- <mat-toolbar-row class="toolbar-bottom py-16" fxLayout="column" fxLayoutAlign="center center">
            <img [src]="milestone.avatar" class="avatar milestone-avatar huge m-0"
                 [alt]="milestone.name"/>
            <div class="milestone-name mt-8">{{milestone.name}} {{milestone.lastName}}</div>
        </mat-toolbar-row> -->
    </mat-toolbar>

    <div mat-dialog-content class="p-24 pb-0 m-0" fusePerfectScrollbar>

        <form  name="projectForm" [formGroup]="projectForm">
          
         
                  <input  type="hidden"  name="id" formControlName="id"
                     >
                
               
                     <div fxLayout="row" fxLayoutAlign="start start" >
                        <mat-form-field appearance="outline"  fxFlex >
                            <mat-label>Project Name</mat-label>
                            <input matInput placeholder="Project Name" name="name" formControlName="name"
                               >
                           <mat-error>Name must have a valid input!</mat-error>
          
                          </mat-form-field>
                      </div>

                      <div fxLayout="row" fxLayoutAlign="start start" >
                          <mat-form-field  appearance="outline" floatLabel="always" fxFlex >
                              <mat-select placeholder="Client" formControlName="projectClient" name="projectClient"
                              [compareWith]="compareFn" >
                                  <mat-option>-- Select Client --</mat-option>
                                  <mat-option *ngFor="let client of clients"  [value]="client" >
                                      {{client.name}}
                                  </mat-option>
                              </mat-select>
                            </mat-form-field>
                          </div>
                    
          
                      <div fxLayout="row" fxLayoutAlign="start start">
                        <mat-form-field appearance="outline"  fxFlex >
                        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker1" placeholder="Start Date"  name="projectStartDate" formControlName="projectStartDate">
                        <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                        <mat-datepicker #picker1></mat-datepicker>
                      </mat-form-field>
                      </div>
          
                      <div fxLayout="row" fxLayoutAlign="start start" >
                        <mat-form-field appearance="outline"  fxFlex >
                        <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker2" placeholder="Choose Developmennt Date"  name="projectDevelopmentDate" formControlName="projectDevelopmentDate">
                        <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                        <mat-datepicker #picker2></mat-datepicker>
                      </mat-form-field>
                      </div>
          
                      <div fxLayout="row" fxLayoutAlign="start start" >
                        <mat-form-field appearance="outline"  fxFlex>
                          <mat-label>Project Cost</mat-label>
                          <input matInput type="number"  placeholder="Cost" name="projectCost" formControlName="projectCost"
                            >
                          <mat-error>Cost must be in numbers!</mat-error>
                        </mat-form-field>
                      </div>
          
                      <div fxLayout="row" fxLayoutAlign="start start" >
                        <mat-form-field appearance="outline"  fxFlex >
                          <mat-label>Project Timeline</mat-label>
                          <input matInput placeholder="Timeline" name="projectTimeline" formControlName="projectTimeline"
                            >
                          <mat-error>Length must be 3-100!</mat-error>
                        </mat-form-field>
                      </div>
          
          
                      <div fxLayout="row" fxLayoutAlign="start start" >
                        <mat-form-field appearance="outline"  fxFlex >
                          <mat-label>Project Payment Method</mat-label>
                          <input matInput placeholder="Payment Method" name="projectPaymentMethod" formControlName="projectPaymentMethod"
                            >
                          <mat-error>Length must be 3-100!</mat-error>
                        </mat-form-field>
                      </div>
          
                     
          
                      
          
                       
           
        </form>

    </div>

    <div mat-dialog-actions class="m-0 p-16" fxLayout="row" fxLayoutAlign="end center">

        <button *ngIf="action === 'edit'"
                mat-button
                class="mr-8"
                (click)="matDialogRef.close(['delete',projectForm])"
                aria-label="Delete"
                matTooltip="Delete">
            DELETE
        </button>

        <button *ngIf="action !== 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(projectForm)"
                [disabled]="projectForm.invalid"
                aria-label="SAVE">
            ADD
        </button>

        <button *ngIf="action === 'edit'"
                mat-button
                class="save-button"
                (click)="matDialogRef.close(['save',projectForm])"
                [disabled]="projectForm.invalid"
                aria-label="SAVE">
            SAVE
        </button>

    </div>
</div>
