<mat-table #table [dataSource]="dataSource"
           [@animateStagger]="{value:'50'}">
    <!-- Name Column -->
    <ng-container matColumnDef="name">
        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
        <mat-cell *matCellDef="let feature">
            <p class="text-truncate font-weight-600">{{feature.name}} </p>
        </mat-cell>
    </ng-container>
   
      <!-- Duration Column -->
      <ng-container matColumnDef="duration">
          <mat-header-cell *matHeaderCellDef >Duration </mat-header-cell>
          <mat-cell *matCellDef="let feature"  >
              <p class="email text-truncate">
                  {{feature.featureEstimateDuration}}
              </p>
          </mat-cell>
      </ng-container>

   
    <!-- Buttons Column -->
    <ng-container matColumnDef="buttons">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let feature">
            <div fxFlex="row" fxLayoutAlign="end center">
              
                <button mat-icon-button [matMenuTriggerFor]="moreMenu" aria-label="More"
                        (click)="$event.stopPropagation();">
                    <mat-icon class="secondary-text">more_vert</mat-icon>
                </button>

                <mat-menu #moreMenu="matMenu">
                    <button mat-menu-item aria-label="remove" (click)="deleteFeature(feature)">
                        <mat-icon>delete</mat-icon>
                        <span>Remove</span>
                    </button>
                </mat-menu>
            </div>

        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let feature; columns: displayedColumns;"
             class="feature"
             [ngClass]="{'accent-50':checkboxes[feature.id]}"
             matRipple
             [@animate]="{value:'*',params:{y:'100%'}}">
    </mat-row>
</mat-table>


