<div id="project" class="page-layout carded fullwidth inner-scroll">

  <!-- TOP BACKGROUND -->
  <div class="top-bg accent"></div>
  <!-- / TOP BACKGROUND -->

  <!-- CENTER -->
  <div class="center">

    <!-- HEADER -->
    <div class="header accent" fxLayout="row" fxLayoutAlign="space-between center">

      <!-- APP TITLE -->
      <div fxLayout="row" fxLayoutAlign="start center">

        <button mat-icon-button class="mr-0 mr-sm-16" [routerLink]="'/projects'">
          <mat-icon>arrow_back</mat-icon>
        </button>

        <!-- <div class="project-image mr-8 mr-sm-16" [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">
                  <img *ngIf="project.images[0]" [src]="project.images[0].url">
                  <img *ngIf="!project.images[0]" [src]="'assets/images/ecommerce/product-image-placeholder.png'">
              </div> -->

        <div fxLayout="column" fxLayoutAlign="start start" [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">
          <div class="h2" *ngIf="pageType ==='edit'">
            {{project.title}}
          </div>
          <div class="h2" *ngIf="pageType ==='new'">
            New Project
          </div>
          <div class="subtitle secondary-text">
            <span>Project Detail</span>
          </div>
        </div>
      </div>
      <!-- / APP TITLE -->

    </div>
    <!-- / HEADER -->

    <!-- CONTENT CARD -->
    <div class="content-card">

      <!-- CONTENT -->
      <div class="content">

        <form name="projectForm" [formGroup]="projectForm" class="project w-100-p" fxLayout="column" fxFlex>

          <div class=" mat-tab-header header  p-24">
            <h2 class="m-0">Project Information</h2>
          </div>
          <div fxLayout="row" fxLayoutAlign="start start"  class="tab-content p-24 w-100-p"  fusePerfectScrollbar >
          <div fxFlex="50"  class="pr-4" >


            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field appearance="outline"  fxFlex="100">
                <mat-label>Project Name</mat-label>
                <input matInput type="text" pattern="[a-zA-Z ]*" minlength="3" maxlength="100" placeholder="First Name" name="name" formControlName="name"
                   required>
               <mat-error>Username must have a valid input!</mat-error>
               
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field appearance="outline"  fxFlex="100">
              <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker1" placeholder="Choose Start Date"  name="projectStartDate" formControlName="projectStartDate">
              <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
              <mat-datepicker #picker1></mat-datepicker>
            </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field appearance="outline"  fxFlex="100">
              <input matInput [min]="minDate" [max]="maxDate" [matDatepicker]="picker2" placeholder="Choose Developmennt Date"  name="projectDevelopmentDate" formControlName="projectDevelopmentDate">
              <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
              <mat-datepicker #picker2></mat-datepicker>
            </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field appearance="outline"  fxFlex="100">
                <mat-label>Project Cost</mat-label>
                <input matInput type="number" minlength="3" maxlength="50" placeholder="Cost" name="projectCost" formControlName="projectCost"
                  required>
                <mat-error>Length must be 3-100!</mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field appearance="outline"  fxFlex="100">
                <mat-label>Project Timeline</mat-label>
                <input matInput type= "text" placeholder="Timeline" name="projectTimeline" formControlName="projectTimeline"
                  required>
                <mat-error>Length must be 3-100!</mat-error>
              </mat-form-field>
            </div>


            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field appearance="outline"  fxFlex="100">
                <mat-label>Project Payment Method</mat-label>
                <input matInput type="text" minlength="3" maxlength="100" placeholder="Payment Method" name="projectPaymentMethod" formControlName="projectPaymentMethod"
                  required>
                <mat-error>Length must be 3-100!</mat-error>
              </mat-form-field>
            </div>

            <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
              <mat-form-field  appearance="outline" floatLabel="always" fxFlex="100">
                  <mat-select placeholder="Client" formControlName="projectClient" name="projectClient"
                  [compareWith]="compareFn" >
                      <mat-option>-- Select Client --</mat-option>
                      <mat-option *ngFor="let client of clients"  [value]="client" >
                          {{client.name}}
                      </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>

              <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
                <mat-form-field  appearance="outline" floatLabel="always" fxFlex="100">
             
                <mat-select placeholder="Features"  [formControl]="featureToppings" multiple>
                  <mat-select-trigger>
                    {{featureToppings.value ? featureToppings.value[0].name : ''}}
                    <span *ngIf="featureToppings.value?.length > 1" class="example-additional-selection">
                      (+{{featureToppings.value.length - 1}} {{featureToppings.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let item of projectFeatures" [value]="item">{{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              </div>
         

              <div fxLayout="row" fxLayoutAlign="start center" class="w-100-p">
                <mat-form-field  appearance="outline" floatLabel="always" fxFlex="100">
             
                <mat-select placeholder="Resources"  [formControl]="resourceToppings" multiple>
                  <mat-select-trigger>
                    {{resourceToppings.value ? resourceToppings.value[0].name : ''}}
                    <span *ngIf="resourceToppings.value?.length > 1" class="example-additional-selection">
                      (+{{resourceToppings.value.length - 1}} {{resourceToppings.value?.length === 2 ? 'other' : 'others'}})
                    </span>
                  </mat-select-trigger>
                  <mat-option *ngFor="let item of projectResources" [value]="item">{{item.name}}</mat-option>
                </mat-select>
              </mat-form-field>
              </div>

            <button mat-raised-button class="save-project-button" [disabled]="projectForm.invalid" *ngIf="pageType ==='new'"
              (click)="addProject()">
              <span>ADD</span>
            </button>

            <button mat-raised-button class="save-project-button" [disabled]="projectForm.invalid || projectForm.pristine"
              *ngIf="pageType ==='edit'" (click)="saveProject()">
              <span>SAVE</span>
            </button>

          </div>

          <div   fxFlex="50" class="pl-4" >
            <h2 class="pl-4" >Milestone </h2>
            <app-milestone-list-project></app-milestone-list-project>
          </div>
        </div>
        </form>

<!-- ADD CONTACT BUTTON -->
<a mat-fab class="accent" id="add-button" (click)="newContact()" aria-label="add contact"
        [@animate]="{value:'*', params:{delay:'300ms',scale:'.2'}}">
    <h1>M</h1>
      </a>
<!-- / ADD CONTACT BUTTON -->
      </div>
      <!-- / CONTENT -->

    </div>
    <!-- / CONTENT CARD -->

  </div>
  <!-- / CENTER -->

</div>
